body {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    background-color: #e9c9be;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: #000;
}
main {
    display: inline-block;
    width: 90%;
}

/* Header */
header {
    display: inline-grid;
    width: 100%;
    grid-template-columns: 33.3% 33.3% 33.3%;
    font-size: 18px;
}
.logo {
    text-align: left;
}
    .logo > p > img {
        margin-left: 5px;
    }
.menu {
    margin: auto 0;
    text-align: right;
}
    .menu > a {
        margin-left: 30px;
    }
.signin {
    margin: auto 0;
    text-align: right;
}
    .signin > a {
        margin-left: 30px;
    }

/* Container */
.container {
    display: grid;
    margin-top: 50px;
    grid-template-columns: 55% 45%;
}
.left {
    text-align: left;
}
.left > p {
    font-size: 75px;
    font-weight: 100;
    width: 85%;
    color: #7d6153;
}
.left > p > span {
    color: #3d3b3c;
}
.right > img {
    width: 100%;
}