body {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    background-color: #e9c9be;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: #000;
}
main {
    display: inline-block;
    width: 90%;
}

/* Header */
header {
    display: inline-grid;
    width: 100%;
    grid-template-columns: 33.3% 33.3% 33.3%;
    font-size: 18px;
}
.logo {
    text-align: left;
}
    .logo > p > img {
        margin-left: 5px;
    }
.menu {
    margin: auto 0;
    text-align: right;
}
    .menu > a {
        margin-left: 30px;
    }
.signin {
    margin: auto 0;
    text-align: right;
}
    .signin > a {
        margin-left: 30px;
    }

/* Container */
.container {
    display: grid;
    margin-top: 50px;
    grid-template-columns: 55% 45%;
}
.left {
    text-align: left;
}
    .left > p {
        font-size: 75px;
        font-weight: 100;
        width: 85%;
        color: #7d6153;
    }
    .left > p > span {
        color: #3d3b3c;
    }
    .right > img {
        width: 100%;
    }

/* Bottom */
.bottom {
    display: grid;
    grid-template-columns: 15% 20%;
    text-align: left;
    align-items: center;
    width: 100%;
}
    .bottom > p {
        margin: auto 0;
        font-size: 25px;
        text-decoration: underline;
    }
    .bottom > p > img {
        vertical-align: middle;
        margin-left: 10px;
    }
    .bottom > p:last-of-type {
        font-size: 12px;
        float: left;
    }


    .help {
        background-color: #f4a3ff;
        width: 50px;
        height: 50px;
        clip-path: circle();
        position: absolute;
        right: 20px;
        bottom: 20px;
        transform: rotate(25deg);
    }